$primary-color-dark:   #455A74;
$primary-color:        #607DAB;
$primary-color-light:  #BFC8EC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

html {
  font-family: sans-serif;
  background-color: #fafafa;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #727272;
}
ul {
  padding: 0;
  list-style-type: none;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.app-header {
  flex-shrink: 0;
  height: 64px;
  z-index: 4;
  background-color: $primary-color;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.app-footer {
  background-color: $primary-color;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
  color: $primary-text-color;
  flex-shrink: 0;
}

@import "about";
@import "account";
@import "home";
